# Core Web App
Flask
Werkzeug
gunicorn

# Database
pymongo[srv]
dnspython

# Data & ML
pandas
numpy<2.0.0
scikit-learn
joblib
scipy

# Image Processing
Pillow
scikit-image
opencv-python-headless

# Audio / Voice Analysis
praat-parselmouth
librosa
soundfile

# Utilities
python-dateutil
requests
python-dotenv
cryptography
